gradio==4.38.1
langchain==0.2.10
langchain_openai==0.1.12

# langchain_community==0.2.9
# sentence-transformers==3.0.1
# faiss-cpu==1.8.0

# llama-cpp-python==0.2.82

# langchain_huggingface==0.0.3
# accelerate==0.32.1
